.login {
	width: 340px;
	margin: 80px auto;
	padding: 32px;
	background-color: #ffffff;
	h2 {
		margin: 0 0 24px 0;
	}
}

.login-form {
	.form-control {
		padding-left: 0;
		box-shadow: none;
		border-radius: 0;
		border-left: none;
		border-top: none;
		border-right: none;
	}
	.btn {
		float: right;
		border-radius: 0;
	}
	.fp-link {
		padding: 8px 0;
	}
}
