.register {
	max-width: 600px;
	margin: 80px auto;
	padding: 32px;
	background-color: #ffffff;
	h2 {
		margin: 0 0 24px 0;
	}
}

.register-form {
	.form-control {
		padding-left: 0;
		box-shadow: none;
		border-radius: 0;
		border-left: none;
		border-top: none;
		border-right: none;
	}
	.btn {
		border-radius: 0;
	}
}
